{% extends "base.html" %}

{% block content %}

{% load static %}

<!doctype html>
<html>
<head>
  <title>Full Graph</title>

  <script src="{% static "vis/dist/vis.js" %}"></script>
  <link href="{% static "vis/dist/vis-network.min.css" %}" rel="stylesheet" type="text/css" />

  <style>
    body {
      color: #d3d3d3;
      font: 12pt arial;
      background-color: #222222;
    }

    #mynetwork {
      width: 100%;
      height: 90vh;
      border: 1px solid #444444;
      background-color: #222222;
    }
  </style>
</head>
<body>

<input type="text" id="search" placeholder="serach"/>
<input type="button" onclick="run_search()" value="find and focus"/>
<input type="number" id="desired_output" placeholder="desired output per second" style="margin-left:50px"/>
<input type="button" onclick="set_desired_output()" value="set desired output"/>
<div id="mynetwork"></div>

<script type="text/javascript">

  {{graph|safe}}

  is_visible = function(node) {
    return node.hidden === undefined || node.hidden == false;
  };

  get_visible_node_ids = function() {
    return nodes.getIds({filter:is_visible});
  };

  calculate_cumulative_rps = function() {
    visible_node_ids = new Set(get_visible_node_ids());
    stack = [];
    for(id of visible_node_ids) {
      stack.push(id);
    }

    new_edge_rps = new vis.DataSet();

    visited = new Set();
    calculated = new Set();
    while (stack.length > 0) {
      current_node_id = stack.pop();
      if (calculated.has(current_node_id)) continue;

      if (visited.has(current_node_id)) {
        // visited but not yet calculated

        edge_ids = network.getConnectedEdges(current_node_id);
        in_edges = [];
        out_edges = [];
        for (i = 0; i < edge_ids.length; ++i) {
          edge_id = edge_ids[i];
          edge = edges.get(edge_id);
          if (edge.from == current_node_id && visible_node_ids.has(edge.to)) {
            out_edges.push(edge);
          }
          if (edge.to == current_node_id && visible_node_ids.has(edge.from)) {
            in_edges.push(edge);
          }
        }

        node = nodes.get(current_node_id);
        if (node.group == 'item') {
          cumulative_output = 0;
          for (i = 0; i < out_edges.length; ++i) {
            edge = out_edges[i];
            cumulative_output += edge.transfer_rate;
          }
          if (cumulative_output == 0) cumulative_output = node.desired_output_per_s || 1;

          cumulative_input = 0;
          for (i = 0; i < in_edges.length; ++i) {
            edge = in_edges[i];
            cumulative_input += edge.transfer_rate;
          }

          multiplier = cumulative_output / cumulative_input;

          for (i = 0; i < in_edges.length; ++i) {
            edge = in_edges[i];
            edge.transfer_rate *= multiplier;
          }
        } else if (node.group == 'machine' || node.group == 'collector') {
          biggest_multiplier = 0;
          for (i = 0; i < out_edges.length; ++i) {
            edge = out_edges[i];
            multiplier = edge.transfer_rate / edge.base_transfer_rate;
            if (multiplier > biggest_multiplier) {
              biggest_multiplier = multiplier;
            }
          }

          for (i = 0; i < in_edges.length; ++i) {
            edge = in_edges[i];
            edge.transfer_rate = edge.base_transfer_rate * biggest_multiplier;
          }

          for (i = 0; i < out_edges.length; ++i) {
            edge = out_edges[i];
            overflow = edge.base_transfer_rate * biggest_multiplier - edge.transfer_rate;
            if (overflow > 0.001) {
              edge.label = [String(edge.transfer_rate.toFixed(3)), '/s + ', overflow.toFixed(3), '/s'].join('')
            }
          }

          node_label = node.label;
          idx = node_label.indexOf(' [');
          if (idx != -1) {
            node_label = node_label.substring(0, idx);
          }
          node_label = node_label.concat(' [x', biggest_multiplier.toFixed(2), ']');
          node.label = node_label;
          nodes.update(node);
        }

        for (i = 0; i < in_edges.length; ++i) {
          edge = in_edges[i];
          edge.label = [String(edge.transfer_rate.toFixed(3)), '/s'].join('')
        }

        edges.update(in_edges);
        edges.update(out_edges);

        calculated.add(current_node_id);
        continue;
      }
      visited.add(current_node_id);

      children_ids = network.getConnectedNodes(current_node_id, 'to');

      stack.push(current_node_id);
      for (i = 0; i < children_ids.length; ++i) {
        child_node_id = children_ids[i];
        if (visible_node_ids.has(child_node_id)) {
          stack.push(child_node_id);
        }
      }
    }
  };

  nodes.on('remove', function (event, properties, senderId) {
    calculate_cumulative_rps();
  });

  var keys = vis.keycharm({
    container: document.getElementById('body'),
    preventDefault: false
  });
  keys.bind("delete", function(event) {
    network.deleteSelected()
  });


  show_only_related_to_node = function(node) {
    stack = [node.id];
    visited = new Set();
    while (stack.length > 0) {
      current_node_id = stack.pop();
      if (visited.has(current_node_id)) continue;
      visited.add(current_node_id);

      parent_node_ids = network.getConnectedNodes(current_node_id, 'from');
      for (i = 0; i < parent_node_ids.length; ++i) {
        node_id = parent_node_ids[i];
        stack.push(node_id);
      }
    }

    nodes.forEach(function(node) {
      if (visited.has(node.id)) return;

      nodes.update({id:node.id, hidden: true});
    });

    calculate_cumulative_rps();
  };

  make_all_nodes_visible = function() {
    nodes.forEach(function(node) {
      nodes.update({id:node.id, hidden: false});
    });

    calculate_cumulative_rps();
  };

  network.on("doubleClick", function (params) {
    params.event = "[original event]";
    if (params.nodes.length > 0 && nodes.get(params.nodes[0]).group == 'item') {
      show_only_related_to_node(nodes.get(params.nodes[0]))
      network.focus(nodes.get(params.nodes[0]).id)
    } else {
      make_all_nodes_visible()
      network.fit();
    }
  });

  last_text = null
  matched_ids = []
  last_index = 0
  run_search = function() {
    text = document.getElementById('search').value.toLowerCase();
    if (text.length == 0) return;
    if (last_text != null && last_text === text) {
      ++last_index;
      if (last_index >= matched_ids.length) {
        last_index = 0;
      }
      network.focus(matched_ids[last_index], {scale:1});
    } else {
      last_text = text;
      matched_ids = nodes.getIds({filter:function(node){return is_visible(node) && node.label.toLowerCase().indexOf(text) != -1;}});
      if (matched_ids.length == 0) {
        return;
      }

      last_index = 0;
      network.focus(matched_ids[last_index], {scale:1});
    }
  };

  set_desired_output = function() {
    count = parseFloat(document.getElementById('desired_output').value);
    selected_nodes = network.getSelectedNodes();
    for (i = 0; i < selected_nodes.length; ++i) {
      node_id = selected_nodes[i];
      nodes.update({id:node_id, desired_output_per_s:count});
    }

    calculate_cumulative_rps();
  };

  calculate_cumulative_rps();

</script>


</body>
</html>

{% endblock %}
